<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>


    {% load staticfiles %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    <title>Kanser Karşıtı Peptitleri Sınıflandırma</title>
</head>
<body>

    {% include "navbartr.html" %}

    <div class="container">
        <br/>
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <div class="fileUpload">
                {{ form }}
                <hr>
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </span>
            </div>
        </form>
        <hr>
    </div>
    <br/>
    <div class="container">
        <div class="col-12 col-md-12 col-lg-12">
            {% if peptides %}
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Peptit</th>
                      <th scope="col">Class</th>
                      <th scope="col">Uzunluk</th>
                    </tr>
                  </thead>
                {% for peptide in peptides %}
                    <tbody>
                        <tr>
                          <td scope="row">{{ peptide.peptide }}</td>
                          {% if peptide.label  %}
                              <td>Kanser Karşıtı</td>
                          {% else %}
                              <td>Kanser Karşıtı Değil</td>
                          {% endif %}

                           <td>{{ peptide.length}}</td>

                        </tr>
                    </tbody>
                {% endfor %}

            </table>
            {% else %}
            {% endif %}

        </div>
    </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>