<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    <title>İletişim</title>
</head>
<body>

    {% include "navbartr.html" %}
    <div class="container">
        <br/>
        <table class="table">
               <tbody>
                    <tr>
                        <td><h4>Murat ESER</h4></td>
                        <td><h4>meser@comu.edu.tr</h4></td>
                        <td><h4>Çanakkale Onsekiz Mart Üniversitesi Bilgi İşlem Daire Başkanlığı</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Murat GÖK</h4></td>
                        <td><h4>murat.gok@yalova.edu.tr</h4></td>
                        <td><h4>Yalova Üniversitesi Bilgisayar Mühendisliği Anabilim Dalı</h4></td>
                    </tr>
               </tbody>
        </table>
    </div>
    <br/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>